
body{
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.flex-conteiner{
    display: flex;
    margin: 20px;
    border-radius: 10px;
    border: 4px solid white;
    backdrop-filter: blur(10px);
}
.caja{
    width: 170px;
    height: 140px;
    background-color: black;
    color: white;
    border: 3px solid red;
    border-radius: 10px;
    margin:10px
}