
body{
    background-color: grey;
}
.flex-conteiner{
    display: flex;
}
.caja2{
    width: 360px;
    height: 330px;
    background-image: url(../img/championship.png);
    background-size: 100% 100%;
    margin: 2px;
    margin-left: 5px;
    border: 2px solid black;
}