.fondopri{
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: right top;
    margin:0px;
    height: calc(100vh - 80px);
    filter: blur(4px);
}